{{- define "main" }}
<style>
    @media screen and (min-width:800px) {
        .main {
            max-width: none;
        }
    }
</style>
<div class="entry-content skill-cards">
    {{ $skills := .Params.skills }}
    {{range $index, $skill := $skills}}
    <div class="skill-container">
        <div class="progress-wrapper">
            <div class="progress">
                <svg>
                    <circle class="svg-circle" cx="35" cy="35" r="35"></circle>
                    <circle class="svg-circle" cx="35" cy="35" r="35"
                        style="stroke-dashoffset: calc(220 - (220 * {{ $skill.level }}) / 100); stroke: {{ $skill.color }};">
                    </circle>>
                </svg>
                <div class="logo-div">
                    <img src="{{ $skill.logo }}" class="tech-logo">
                </div>
            </div>
        </div>
        <div class="tech-name">
            {{ $skill.name }}
        </div>
        <div class="tech-description">
            {{ $parts := split $skill.summary "|" }}
            <ul>
                {{ range $parts }}
                <li>{{ . }}</li>
                {{ end }}
            </ul>
        </div>
    </div>
    {{ end }}
    <div class="skill-container">
        <div class="tech-name" style="margin-top: 45px;">
            Also know:
        </div>
        <div class="progress-wrapper" style="margin-top: 0px;">
            {{ $skills := .Params.other }}
            {{range $index, $skill := $skills}}
            <div class="progress">
                <svg>
                    <circle class="svg-circle" cx="35" cy="35" r="35"></circle>
                </svg>
                <div class="logo-div">
                    <img src="{{ $skill.logo }}" class="tech-logo">
                </div>
            </div>
            {{ end }}
        </div>
        <div class="tech-name" style="margin-top: 5px;">
            Trying to learn:
        </div>
        <div class="progress-wrapper" style="margin-top: 0px;">
            {{ $skills := .Params.learning }}
            {{range $index, $skill := $skills}}
            <div class="progress">
                <svg>
                    <circle class="svg-circle" cx="35" cy="35" r="35"></circle>
                </svg>
                <div class="logo-div">
                    <img src="{{ $skill.logo }}" class="tech-logo">
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>

{{- end }}