{{- define "main" }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Params.title }}</h1>
    </header>
    <div class="entry-content">
        {{ .Params.biogsummary }}
    </div>
    <img src="/images/home.jpeg" style="margin-bottom: 30px;">
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
    <div class="entry-content">
        <h2>{{.Params.education}} 🎓</h3>
            {{.Params.educationsummary}}
    </div>
    <img src="/images/education.jpeg" style="margin-bottom: 30px;">

    <div class="entry-content">
        <h2 style="margin-bottom: 30px;">{{.Params.career}} 💻</h2>
        {{.Params.careerOverview}}
        <ul id="timeline_ul" style="margin-top: 30px;">
            {{ $list := .Params.careerlist }}
            {{range $index, $job := $list}}
            <li style="--accent-color:#41516C">
                <div class="date">{{$job.dates}}</div>
                <div class="title">{{$job.company}}</div>
                <div class="descr">
                    <p>{{$job.summary}}</p>
                    <p>{{ $job.experience }}</p>
                </div>
            </li>
            {{ end }}
        </ul>
    </div>
</article>

{{- end }}