{{- define "main" }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Params.title }}</h1>
    </header>
    <div class="entry-content">
        {{ .Params.biogsummary }}
    </div>
    <img src="/images/home.jpeg" style="margin-bottom: 30px;">
    <div class="entry-content">
        <h2>{{.Params.education}} 🎓</h3>
            {{.Params.educationsummary}}
    </div>
    <img src="/images/education.jpeg" style="margin-bottom: 30px;">
    <div class="entry-content">
        <h2>{{.Params.career}} 💻</h3>
            {{.Params.careersummary1}}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>

{{- end }}